.pokemon-name {
  color: white;
}

.details-container {
  text-align: center;
  padding: 10px;
  color: white;
}

.pokemon-sprites {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.pokemon-sprites img {
  max-width: 100%;
  height: auto;
  border-radius: 100px;
  background-color: #dddddd;
  margin: 10px;
  box-shadow: 0 2px 5px 5px rgb(16, 7, 7);

}

.giant-card {
  background-color: #323241;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 10px 20px rgb(236, 217, 217);
  width: 80%;
  margin: 0 auto;
}

.giant-card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.pokemon-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pokemon-types {
  margin-bottom: 10px;
  text-align: center;
}

.type-badge {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 6px;
  border-radius: 4px;
  color: #fff;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

p {
  margin-bottom: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  text-align: left;
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323241;
  border-radius: 50px;
}

.home-button {
  border: none;
  padding: 0;
  background-color: transparent;
  margin-right: 50px;
}

.normal-image {
  max-width: 100px;
  height: auto;
  transition: opacity 0.3s ease;
}

.home-button:hover .normal-image {
  opacity: 0.5;
}

.details-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: yellow;
  text-align: center;
}


.details-container img.pokemon-image {
  max-width: 200px;
  max-height: 200px;
}

@media screen and (max-width: 767px) {
  .giant-card {
    width: 100%;
  }

  .details-container img.pokemon-image {
    max-width: 100%;
    max-height: auto;
  }
}

@media screen and (max-width: 576px) {
  .giant-card {
    width: 90%;
  }

  .details-container img.pokemon-image {
    max-width: 150px;
    max-height: 150px;
  }
}
