/* pokemon-detail.component.css */
.pokemon-details-container {
  background-color: #211f1f;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.pokemon-info {
  display: flex;
  justify-content: space-between;
}

.pokemon-image img {
  max-width: 100%;
  max-height: 100%;
}

.pokemon-details {
  max-width: 60%; /* Ajustez la largeur selon vos besoins */
}

/* Ajoutez d'autres styles au besoin */
