.page-container {
  background-color: #211f1f;
  padding: 20px;
}
.page-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}

.page-title img {
  max-width: 1500px;
  max-height: 100%;
  width: auto;
  height: auto;
}


.pokemon-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-card {
  width: calc(18% - 20px); /* Ajustez la taille des cartes ici pour 5 cartes par ligne */
  /*background-color: #fff;*/
  background: linear-gradient(to right, #7d93e1, #555765, #c3a3d7);
  border : 1px solid #e0be17;
  box-shadow: 0 8px 10px rgb(234, 228, 228);
  margin-bottom: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.pokemon-image {
  width: 90%;
  border-bottom: 1px solid #ddd;
}

.pokemon-details {
  padding: 10px;
}

.pokemon-name {
  font-size: 19px;
  font-family: 'Bangers', cursive;
  margin-bottom: 5px;
}

.pokemon-types {
  font-family: 'Bangers', cursive;
  font-size: 16px;
  color: #ffffff;
  margin-top: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: yellow;
  padding: 10px;
  border-radius: 25px;
}

.pagination button,
.pagination span {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: yellow;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.type-badge {
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
}

.grass-type {
  background-color: #78c850;
}
.bug-type {
  background-color: #12340b;
}
.dark-type {
  background-color: #110b0b;
}
.dragon-type {
  background-color: #156365;
}
.electric-type {
  background-color: #f8d030;
}
.fairy-type {
  background-color: #ab0b54;
}
.fighting-type {
  background-color: #f14b1b;
}
.fire-type {
  background-color: #fd0303;
}
.flying-type {
  background-color: #9f9fa8;
}
.ghost-type {
  background-color: #504977;
}
.ground-type {
  background-color: #423616;
}
.ice-type {
  background-color: #9bd8d8;
}
.normal-type {
  background-color: #a17483;
}
.poison-type {
  background-color: #7b0b7b;
}
.psychic-type {
  background-color: #f81b8a;
}
.rock-type {
  background-color: #7a5009;
}
.steel-type {
  background-color: #7fa879;
}
.water-type {
  background-color: #0b5394;
}

