<div class="page-container">
  <h1 class="page-title">
    <span class="title-content">
    <img src="./assets/images/Pokedex-Angular-Project-SEA-20-01-2024.png" alt="police-pokemon" border="0">
  </span>
    <img src="./assets/images/pika1.gif" alt="gif before" class="gif-image">
  </h1>

  <div class="pokemon-tab">
    <div *ngFor="let pokemon of pokemonTab" class="pokemon-card" (click)="viewPokemonDetails(pokemon.id)">
      <img [src]="pokemonService.getPokemonImage(pokemon.id)" alt="{{ pokemon.name }} Image" class="pokemon-image">
      <div class="pokemon-details">
        <h2 class="pokemon-name">{{ pokemonService.capitalizeFirstLetter(pokemon.name) }}</h2>
        <div *ngIf="pokemon.types && pokemon.types.length > 0" class="pokemon-types">
          <span *ngFor="let type of pokemon.types" class="type-badge" [ngClass]="pokemonService.getTypeColorClass(type)">{{ type }}</span>
        </div>
        <div *ngIf="!pokemon.types || pokemon.types.length === 0" class="pokemon-types">Type: Unknown</div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pagination">
    <button class="previous-button" (click)="goToPreviousPage()" [disabled]="currentPage === 1">
      <img src="./assets/images/pokeball1.png" alt="Page précédente">
    </button>
    <span> Page : {{ currentPage }} / 10</span>
    <button class="next-button" (click)="goToNextPage()">
      <img src="./assets/images/pokeball2.png" alt="Page suivante">
    </button>
  </div>
</footer>
