.page-container {
  background-color: #211f1f;
  padding: 20px;
}
.page-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}

.page-title img {
  max-width: 1500px;
  max-height: 100%;
  width: auto;
  height: auto;
}


.pokemon-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-card {
  width: calc(18% - 20px); /* Ajustez la taille des cartes ici pour 5 cartes par ligne */
  /*background-color: #fff;*/
  background: linear-gradient(to right, #7d93e1, #555765, #c3a3d7);
  border : 1px solid #e0be17;
  box-shadow: 0 8px 10px rgb(234, 228, 228);
  margin-bottom: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.pokemon-image {
  width: 90%;
  border-bottom: 1px solid #ddd;
}

.pokemon-details {
  padding: 10px;
}

.pokemon-name {
  font-size: 19px;
  font-family: 'Bangers', cursive;
  margin-bottom: 5px;
}

.pokemon-types {
  font-family: 'Bangers', cursive;
  font-size: 16px;
  color: #ffffff;
  margin-top: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: yellow;
  padding: 10px;
  border-radius: 25px;
}

.pagination button,
.pagination span {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: yellow;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* TAB */
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .pokemon-card {
    width: calc(20% - 20px);
  }

  .page-title img {
    max-width: 70%;
    height: auto;
  }

  .pagination button,
  .pagination span {
    padding: 5px 8px;
    font-size: 12px;
  }
}

/* Phone */
@media screen and (max-width: 767px) {
  .pokemon-card {
    width: calc(50% - 20px);
  }

  .page-title img {
    max-width: 90%;
    height: auto;
  }

  .pagination button,
  .pagination span {
    padding: 5px 8px;
    font-size: 5px;
  }
}
