<div class="page-container">
  <h1 class="page-title">Pokedex - Angular Project SEA LOCKER</h1>

  <div class="pokemon-tab">
    <div *ngFor="let pokemon of pokemonTab" class="pokemon-card">
      <img [src]="getPokemonImage(pokemon.url)" alt="{{ pokemon.name }} Image" class="pokemon-image">
      <div class="pokemon-details">
        <h2 class="pokemon-name">Nom: {{ capitalizeFirstLetter(pokemon.name) }}</h2>
        <p *ngIf="pokemon.types && pokemon.types.length > 0" class="pokemon-types">Type: {{ pokemon.types.join(', ') }}</p>
        <p *ngIf="!pokemon.types || pokemon.types.length === 0" class="pokemon-types">Type: Unknown</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="pagination">
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Page précédente</button>
    <span>Vous etes sur la page : {{ currentPage }}</span>
    <button (click)="goToNextPage()">Page suivante</button>
  </div>
</footer>




