body {
  margin: 0;
}

.page-container {
  padding: 20px;
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 50px;
}

.page-title img {
  max-width: 50%;
}



.pokemon-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-card {
  width: calc(18% - 20px);
  background-color: #323241;
  box-shadow: 0 8px 10px rgb(234, 228, 228);
  margin-bottom: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border: #110b0b solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  width: 70%;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;

}

.pokemon-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pokemon-name {
  font-size: 19px;
  font-family: 'Bangers', cursive;
  margin-bottom: 5px;
  color: #ffffff;
}

.pokemon-types {
  font-family: 'Bangers', cursive;
  font-size: 16px;
  color: #ffffff;
  margin-top: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px;
  border-radius: 25px;
  margin: auto; /* Ajoutez cette ligne pour centrer horizontalement */
}

.pagination button,
.pagination span {
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  /*background: none;*/
  background-color: white;
  border-radius: 100px;
}

.pagination button img,
.pagination span img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.pagination button.previous-button:hover img {
  content: url("../../assets/images/pokeball11.png");
}

.pagination button.next-button:hover img {
  content: url("../../assets/images/pokeball22.png");
}


.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* TAB */
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .pokemon-card {
    width: calc(20% - 20px);
  }

  .page-title img {
    max-width: 70%;
    height: auto;
  }

  .pokemon-types {
    font-size: 12px;
  }

  .pagination button,
  .pagination span {
    padding: 5px 8px;
    font-size: 12px;
  }
}

/* Phone */
@media screen and (max-width: 767px) {
  .pokemon-card {
    width: calc(50% - 20px);
  }

  .page-title img {
    max-width: 90%;
    height: auto;
  }

  .pokemon-types {
    font-size: 15px;
  }

  .pagination button,
  .pagination span {
    padding: 5px 8px;
    font-size: 5px;
  }
}

/* Laptop 1440px */
@media screen and (min-width: 1301px) and (max-width: 1560px) {
  .pokemon-card {
    width: calc(19% - 15px);
  }
  .page-title img {
    max-width: 40%;
    height: auto;
  }
}
